<mat-card *ngIf="fish$ | async as fish" color="secondary">
  <mat-card-header>
    <mat-card-title>{{fish.name['name-USen']}}</mat-card-title>
    <mat-card-subtitle>{{fish.price | currency }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="row">
    <div>
      <img src="{{fish.imageUri}}" alt="{{fish.name['name-USen']}}">
      <blockquote class="museum-phrase">"{{fish.museumPhrase}}"</blockquote>
    </div>
    <div>
      <p>Location: {{fish.availability.location}}</p>
      <p>Rarity: {{fish.availability.rarity}}</p>
      <mat-button-toggle-group name="hemisphere" [value]="selectedHemi | async" aria-label="Hemisphere" color="primary" (change)="selectedHemi.next($event.value)">
        <mat-button-toggle value="northern">Northern Hemisphere</mat-button-toggle>
        <mat-button-toggle value="southern">Southern Hemisphere</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="table display-availability">
        <div class="month" *ngFor="let month of displayedSchedule$ | async"  [ngClass]="{'available':month.available}">
          {{month.month}}
        </div>
      </div>
      <div *ngIf="fish.availability.isAllDay;else limitedHours">
        <p>The {{fish.name['name-USen']}} is available at all times</p>
      </div>
      <ng-template #limitedHours>
        <p>The {{fish.name['name-USen']}} is available from {{fish.availability.time}}</p>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
