<div class="row">
  <h1>Fish</h1>
</div>
<div class="grid">
  <mat-card *ngFor="let fish of fishies$ | async" [routerLink]="[fish.id]">
    <mat-card-header>
      <mat-card-title>{{fish.name['name-USen']}}</mat-card-title>
      <mat-card-subtitle>{{fish.price | currency}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <img [lazyLoad]="fish.imageUrl" defaultImage="../../assets/images/fishshadow.png" alt="{{fish.name['name-USen']}}">
        <p>"{{fish.catchPhrase}}"</p>
      </div>
      <div>
        <table>

        </table>
      </div>

    </mat-card-content>
  </mat-card>
</div>
