<div class="row">
  <h1>Insects</h1>
</div>
<div class="grid">
  <mat-card *ngFor="let insect of insects$ | async" [routerLink]="[insect.id]">
    <mat-card-header>
      <mat-card-title>{{insect.name['name-USenn']}}</mat-card-title>
      <mat-card-subtitle>{{insect.price | currency}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <img src="{{insect.imageUri}}" alt="{{insect.name['name-USenn']}}">
        <p>"{{insect.catchPhrase}}"</p>
      </div>
      <div>
        <table>

        </table>
      </div>

    </mat-card-content>
  </mat-card>
</div>
