<div class="row">
  <h1>Villagers</h1>
</div>
<div class="grid">
  <mat-card class="villager-card" *ngFor="let villager of villagers$ | async" [routerLink]="[villager.id]">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url({{villager.iconUri}})"></div>
      <mat-card-title>{{villager.name['name-USen']}}</mat-card-title>
      <mat-card-subtitle>{{villager.species}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-title></mat-card-title>
    <mat-card-content>
      <img src="{{villager.imageUri}}" alt="{{villager.name['name-en']}}">
      <p>"{{villager.catchPhrase}}"</p>
    </mat-card-content>
  </mat-card>
</div>

